{% extends 'index_master.html' %}

{% block content %}
<div class="right_col" role="main">
    <div class="container-xxl" style="background-image: url('ruta/a/tu/imagen-de-fondo.jpg'); background-size: cover; color: white;">
        <div class="text-center my-5">
            <h1 style="color: black;">Bienvenido a S.I.R.A.G.C - Sistema Integral de Revisión de Archivos PDF y Gestión de Correos</h1>
            <p style="color: #FFD700; font-size: 2em; font-style: italic;">“Soluciones efectivas para tu bienestar empresarial”</p>
        </div>

        <div class="container mt-5 text-center" style="background-color: rgba(0, 0, 0, 0.7); padding: 20px; border-radius: 10px;">
            <h2>Funciones Principales</h2>
            <div class="row">
                <div class="col-md-4">
                    <h3>Gestión de Inventario</h3>
                    <p>Controla y gestiona tu inventario de forma eficiente, asegurando disponibilidad y optimización de recursos.</p>
                </div>
                <div class="col-md-4">
                    <h3>Seguimiento de Envíos</h3>
                    <p>Monitorea el estado de tus envíos en tiempo real, garantizando una distribución eficaz.</p>
                </div>
                <div class="col-md-4">
                    <h3>Reportes de Problemas</h3>
                    <p>Facilita la comunicación de errores y problemas a través de tickets, asegurando un soporte rápido y efectivo.</p>
                </div>
            </div>
        </div>

        <div class="container mt-5 text-center" style="background-color: rgba(0, 0, 0, 0.7); padding: 20px; border-radius: 10px;">
            <h4>Miebros del Equipo</h4>
            <p>Iñiguez Gallego Carlos Alberto - 1921160</p>
        </div>
    </div>
</div>
{% endblock %}